Brajedrez/datos/train/

# Entorno local
.venv/
venv/
activar-venv.txt

# Python
__pycache__/
*.pyc
.pytest_cache/

# Sistema y editor
.vscode/
Thumbs.db
desktop.ini
.DS_Store
*.log
Brajedrez/datos/casillas.npz
